h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-top: 2em;
}

h1#h1-subpage {
  font-size: 36px;
}

#twitter-widget-0 {
  width: 100% !important;
}
